.Borde-form{
    border:5px solid black;
    width:50%;
}

form{
    position: relative;
    left: 22%;
    text-align: center;
    
}   

.Botton-Enviar{
    width: 10%;
    height:35px;
    background-color:transparent;
    border: 2px solid black;
    border-radius: 15px;
    color:black;
}

.Botton-Enviar:hover{
    color:bisque;
    background-color:black;
}