body{background: url("/img/1.png")}

*{
    padding:10px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

 .Menu{
    display: inline;
    color:white;
  }

section{
    position: relative;
    justify-content: center;
    width:100%;
    text-align:right;
    display:inline-block;
}

section a{
    position: relative;
    justify-content: center;
    color:white;
    font-size:17px;  
    top:-2px;   
}
            
section li{
    background-color:black;
      position: relative;
      width:100%;
      height:30px;   
      border:1px solid #000;
      display: inline-block;
}

.Sub-Menu{
    position: relative;
    width:140%;
    height:50px;
    left: -30px;
    text-align: center;
}
       
section li:hover{
      background-color:gray;
      color:white;
}
            
section li>ul{
    display:none;
}

section li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:-10px;
     
}

.Img-Logo{
    position: relative;
    width: auto;
    top: -60px;
}

header{
    position: relative;
    display:block;
    width:100%;
    height:50px;
    top:0;
    left:0;
    background-color:darkblue;
    text-align:right;
}

.Nav-Menu li{
    position: relative;
    display:inline;
    top:-15px;
    
}

.Nav-Menu a{
    position: relative;
    color:white;
    border-right: 5px solid white;
    
}

.Nav-Menu a:hover{
    background-color:black;
    color:white;
    border-radius: 10px;
}

.Portada{
    position: relative;
    width:100%;
    margin: 20px;
    left: -20px;
    text-align:right;
    background-color: black;
}

.Promociones{
    float: left;
    width:45%;
    height:400px;
    left:10px;
    color: white;
}

.Promociones h1{
    position: relative;
    top:100px;
}

.Promociones h3{
    position:relative;
    top:250px;
}

.Portada img{
    position: relative;
    width:50%;
    height:auto;
    top: 0px;
    animation: cambio 10s infinite alternate linear;
}

.Letra-P{
    position: relative;
    border-bottom: 10px solid red;
    width:30%;
    background-color:black;
    color:white;
}

/*TAB--------------------*/

.tab {
    width:100%;
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    position:relative;
    left:65px;
    background-color:#000;
    color:bisque;
    text-decoration: none;
    border-radius:10px;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 100px;
    transition: 0.3s;
    font-size: 20px;
    margin-left: 150px
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color:black;
    color:yellow;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:black;
  }
  
  /* Style the tab content */
  .tabcontent {
    position:relative;
    display: none;
    padding: 6px 12px;
  }


/*-----------------TABLA DE PRODUCTOS------------------------------------------------------*/
  
.Perfumes-Productos{
    position:relative;
    float:flex;
    width:100%;
    height: 700px;
    top:100px;
}

.Tabla-Hombres{
    position:relative;
    float: flex;
    width:100%;
    height:500px;
    border-spacing: 0;   
}

table th{
  position:relative;
   border-right: 5px solid red;
   margin-right: 50px;
   background-color: #E9DBD990;
   width:25%;
   height:10px;
   color:black
}
table div:hover{
border: 2px solid gray;
background-color:white;

}

table h1{ 
  position:relative;
  font-size: 1.2vw;
}

table img{
  position:relative;
  width:40%;
  top: -20px;
}

table p{
  position:relative;
  top: -50px;
  text-align: justify;
  
}

table button{
  position:relative;
  background-color:white;
  border-radius: 10px;
  outline:none;
  color: black;
  width:60%;
  height:35px;
  top:-10px;
}


table button:hover{
  background-color:black;
  color:bisque;
}

.Tabla-Damas #Compra_5{ 
  position:relative;
  top:6px;
}

.Tabla-Damas #Compra_6{ 
  position:relative;
  top:-30px;
}

table button h3{
  position: relative;
  top: -22px;;
}

/*-----------------------------------------------------------------------*/



/* LOGIN - PRINCIPAL */

.Login-P{
    position: relative;
    width:100%;
    height:1000px;
}

.Login{
    position: relative;
    background-color: MidnightBlue;
    text-align: center;
    float:left;
    display: block;
    border:5px solid black;
    border-radius: 20px;
    left:470px;
    top:100px;
    width:30%;
    height:500px;
    box-shadow: 5px 5px 5px  wheat;
}


#Input{
    position: relative;
    width:70%;
    background-color:antiquewhite;
    border-radius: 10px;
    color:black;
}

.Login h1{
    position: relative;
    text-align: center;
    font-size:40px;
    color:white;
}



.Recordar-C{
    position: relative;
    text-align: center;
    top: 400px;
    left:-230px;
}

.Recordar-C a{
    position: relative;
    color:white;
    font-size:15px;
}

.Recordar-C a:hover{
    background-color:black;
}

/*     ------              */


/* REGISTRATE - */

legend h1{
    position:relative;
    color:white;
    background-color:black;
}

.Borde-form{
    border:10px solid black;
    width:100%;
    height:350px;
    background-color:navy;
    border-radius:20px;
  }
  
  .Registrate{
    position: relative;
    left: 23%;
    text-align: center;
    top:95px;
    box-shadow:0px 0px 0px black;
    width:50%;
  }   

  .Input-Registrate{
      position:relative;
      width:70%;
      border-radius: 10px;
  }

  .Botton-Enviar{
    position: relative;
    width: 40%;
    height:52px;
    background-color:white;
    border: 2px solid black;
    border-radius: 15px;
    color:black;
    font-size: 25px;
    top:7px;
  }
  
  .Botton-Enviar:hover{
    color:bisque;
    background-color:black;
  }
/*--------------------------------*/








@keyframes cambio{

    0%{
        margin-left: 0;
        background-color:darkred;
        border-radius: 10px;   
    }
    40%{
        margin-left: 0;
        background-color:rebeccapurple; 
        border-radius: 10px;  
    }

    80%{
        margin-left: 0;
        background-color:darkgreen;
        border-radius: 10px;   
    }

}


