body{background: url("/img/1.png")}
*{
  padding:10px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  float: left;
  text-align:right;
}

.menu ul li {
  display:inline-block;
  list-style-type: none;
}

.menu ul li a {
  color:#000;
  font-size: 20px;
}

.menu ul li a:hover{
  background-color:bisque;
}

nav{
  width:100%;
  height: 120px;
  box-shadow: 5px 5px 0px #000;
}

.Img-Portada{
  width: 100%;
  height: 410px;
  border:5px solid gray;
}

.Anuncio-1{
  position: relative;
  width:100%;
  text-align:center;
  background-color:black;
  color:wheat;
}

.Caja-Logos{
  text-align: center;
  display: flex;
  width:100%;
}

.Logo-1{
  width:100%;
  margin: 10px;
}

img{
  display: flex;
  width:100%;
}

button{
  position: relative;
  border:2px solid black;
  background:white;
  border-radius: 6px;
}

button:hover{
  background-color:black;
  color:white;
  padding:5px;

}

.Publicidad-1{
  position: relative;
  top: -4px;
}

.Publicidad-2{
  position: relative;
  top: 40px;
}

.Publicidad-4{
  position: relative;
  top: -30px;
}

.Borde-form{
  border:5px solid black;
  width:50%;
}

form{
  position: relative;
  left: 25%;
  text-align: center;
  
}   

.Botton-Enviar{
  width: 10%;
  height:35px;
  background-color:transparent;
  border: 2px solid black;
  border-radius: 15px;
  color:black;
}

.Botton-Enviar:hover{
  color:bisque;
  background-color:black;
}


footer {
  background:black;
  color:white;
  text-align:center;
  width:100%;
  height:100%;
}
